  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: lightgray;
  }
  
  /* width input fields */
  .fields{
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
    /* width select fields*/
  .fieldsForSelect{
    width: 52%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: rgb(60, 104, 116);
    color: white;
    padding: 20px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  } 
